<section class="about_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2 class="txt">About Us</h2>
      <p class="col-lg-8 px-0 mx-auto">
        We drive client success through innovative software solutions and strategic expertise,
        ensuring efficient project management and goal achievement.
      </p>
    </div>
  </div>

  <div class="container mt-2">
    <div class="row">
      <!-- Left Text Column -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="detail-box pr-md-2">
          <ul class="list-unstyled mt-2">
            <li class="mb-2">
              <h4 class="txt">
                <i class="fa fa-bullseye mr-2"></i>Our Identity and Commitment
              </h4>
              <p>
                "MRD Brains" represents our commitment to innovation and expertise, delivering tailored, cutting-edge
                solutions for client success.
              </p>
            </li>
            <li class="mb-2">
              <h4 class="txt">
                <i class="fa fa-cogs mr-2"></i>Technical Specialization
              </h4>
              <p>
                We specialize in Microsoft .NET and allied technologies, providing cost-efficient, process-driven
                solutions.
              </p>
            </li>
            <li class="mb-2">
              <h4 class="txt">
                <i class="fa fa-industry mr-2"></i>Diverse Domain Coverage
              </h4>
              <p>
                Our services span across Consultancy, Finance & Accounting, Retail Management, and Point of Sale
                sectors.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <!-- Right Image Column -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="img-box">
          <img class="img-fluid" src="assets/images/About-Img/About-1.jpg" alt="about img">
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Left Image Column -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="img-box">
          <img class="img-fluid" src="assets/images/About-Img/About-2.avif" alt="about img">
        </div>
      </div>

      <!-- Right Text Column -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="detail-box pr-md-2">
          <div class="heading_container">
            <h2 class="txt">
              Comprehensive Solutions and Proactive Strategy
            </h2>
          </div>
          <p class="detail_p_mt">
            Our team of professionals brings expertise spanning from design to development.
            Combining this knowledge with strategic planning, we address new challenges with a focus on your overall
            business goals.
          </p>
          <p>
            Our management's rich experience in both technology and organizational development ensures efficient project
            management, helping customers achieve their objectives seamlessly.
          </p>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <!-- Left Text Column -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="detail-box pr-md-2">
          <div class="heading_container">
            <h2 class="txt">
              Commitment to Innovation and Client-Centric Development
            </h2>
          </div>
          <p class="detail_p_mt">
            Our clients view us as a future leader in high-end software consultancy and development, where deep domain
            expertise is coupled with cutting-edge outsourcing technologies.
          </p>
          <p>
            We continuously invest in our core areas to maintain our competitive edge.
          </p>
          <p>
            While we focus on improving the quality of our existing services, we also look to the market to develop new
            services that align with the evolving interests of our customers.
          </p>
        </div>
      </div>

      <!-- Right Image Column -->
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="img-box">
          <img class="img-fluid" src="assets/images/About-Img/About-3.jpg" alt="about img">
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Page Up Button -->
<button
  *ngIf="isScrollUpVisible"
  class="scroll-up-btn"
  (click)="scrollToTop()"
  aria-label="Scroll to top">
  &#8679; <!-- This is an upward arrow -->
</button>
