<div class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1 text-white">Software</h1>
        <h2 class="text-white">Development Company</h2>
        <h3 class="mb-5 text-white"><em>Create tech-advanced, future-proof,
                and scalable digital solutions with a leading software development company in India.
            </em></h3>
            <a class="btn btn-info btn-xl" [routerLink]="['/about']">Find Out More</a>

    </div>
</div>

<!-- About-->
<div class="content-section bg-light">
    <div class="px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h1 class="txt"><strong>Technologies and Platforms We Use</strong></h1>
                <div class=" mt-5">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="frontend-tab" data-bs-toggle="tab" href="#frontend" role="tab" aria-controls="frontend" aria-selected="true">
                                <h4 class="txt">Frontend</h4>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="backend-tab" data-bs-toggle="tab" href="#backend" role="tab" aria-controls="backend" aria-selected="false">
                                <h4 class="txt">Backend</h4>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="mobile-tab" data-bs-toggle="tab" href="#mobile" role="tab" aria-controls="mobile" aria-selected="false">
                                <h4 class="txt">Mobile</h4>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="database-tab" data-bs-toggle="tab" href="#database" role="tab" aria-controls="database" aria-selected="false">
                                <h4 class="txt">Database</h4>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="frameworks-tab" data-bs-toggle="tab" href="#frameworks" role="tab" aria-controls="frameworks" aria-selected="false">
                                <h4 class="txt">Frameworks</h4>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="cloud-tab" data-bs-toggle="tab" href="#cloud" role="tab" aria-controls="cloud" aria-selected="false">
                                <h4 class="txt">Cloud</h4>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="devops-tab" data-bs-toggle="tab" href="#devops" role="tab" aria-controls="devops" aria-selected="false">
                                <h4 class="txt">DevOps</h4>
                            </a>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ecommerce-tab" data-bs-toggle="tab" href="#ecommerce" role="tab" aria-controls="ecommerce" aria-selected="false">
                                <h4 class="txt">Ecommerce</h4>
                            </a>
                        </li> -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="cms-tab" data-bs-toggle="tab" href="#cms" role="tab" aria-controls="cms" aria-selected="false">
                                <h4 class="txt">CMS</h4>
                            </a>
                        </li>
                    </ul>
                    
                    
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="frontend" role="tabpanel" aria-labelledby="frontend-tab">
                        
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/AngularLOGO.png" alt="Angular" class="img-fluid" />
                                    <p>Angular</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/reactjs-icon.png" alt="React" class="img-fluid" />
                                    <p>React</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/js-icon.png" alt="Java-Script" class="img-fluid" />
                                    <p>Java-Script</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/html5-icon.png" alt="HTML 5" class="img-fluid" />
                                    <p>HTML 5</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/css3-icon.png" alt="HTML 5" class="img-fluid" />
                                    <p>css</p>
                                </div>                               
                            </div>
                            
                        </div>

                        <div class="tab-pane fade" id="backend" role="tabpanel" aria-labelledby="backend-tab">                          
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/dotnet-icon.png" alt="Dotnet" class="img-fluid" />
                                    <p>Dot Net</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Nodejs-icon.png" alt="Node-js" class="img-fluid" />
                                    <p>Node-js</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Python-icon.png" alt="Python" class="img-fluid" />
                                    <p>Python</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Expressjs-icon.png" alt="Expressjs" class="img-fluid" />
                                    <p>Express js</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/nestjs-icon.png" alt="nestjs" class="img-fluid" />
                                    <p>Nest Js</p>
                                </div>                               
                            </div>
                        </div>

                        <div class="tab-pane fade" id="mobile" role="tabpanel" aria-labelledby="mobile-tab">                          
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/android-icon.png" alt="Android" class="img-fluid" />
                                    <p>Android</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Flutter-icon.png" alt="Flutter" class="img-fluid" />
                                    <p>Flutter</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Xamarin-icon.png" alt="Xamarin" class="img-fluid" />
                                    <p>Xamarin</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/reactjs-icon.png" alt="Reaxt" class="img-fluid" />
                                    <p>React Native</p>
                                </div>                                                             
                            </div>
                        </div>

                        <div class="tab-pane fade" id="database" role="tabpanel" aria-labelledby="database-tab">                           
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/SQL-Server-icon.png" alt="SQL-Server" class="img-fluid" />
                                    <p>SQL-Server</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/MySQL-icon.png" alt="MySQL" class="img-fluid" />
                                    <p>MySQL</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/MongoDB-icon.png" alt="MongoDB" class="img-fluid" />
                                    <p>MongoDB</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/SQLite-icon.png" alt="SQLite" class="img-fluid" />
                                    <p>SQLite</p>
                                </div>                                                             
                            </div>
                        </div>

                        <div class="tab-pane fade" id="frameworks" role="tabpanel" aria-labelledby="frameworks-tab">                           
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/dotnet-icon.png" alt="Dotnet" class="img-fluid" />
                                    <p>Dot Net</p>
                                </div>                                                                                                        
                            </div>
                        </div>

                        <div class="tab-pane fade" id="cloud" role="tabpanel" aria-labelledby="cloud-tab">                           
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/tech_aws_icon.png" alt="AWS" class="img-fluid" />
                                    <p>AWS</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Azure-icon.png" alt="Azure" class="img-fluid" />
                                    <p>Azure</p>
                                </div>                                                                             
                            </div>
                        </div>

                        <div class="tab-pane fade" id="devops" role="tabpanel" aria-labelledby="devops-tab">
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Docker-icon.png" alt="Docker" class="img-fluid" />
                                    <p>Docker</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Azure-icon.png" alt="Azure" class="img-fluid" />
                                    <p>Azure</p>
                                </div>   
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Selenium-icon.png" alt="Selenium" class="img-fluid" />
                                    <p>Selenium</p>
                                </div>                                                                            
                            </div>
                        </div>
                        <!-- <div class="tab-pane fade" id="ecommerce" role="tabpanel" aria-labelledby="ecommerce-tab">
                            <h4>Ecommerce Development</h4>
                            <p>This tab provides information about ecommerce platforms, frameworks, and best practices.</p>
                        </div> -->
                        <div class="tab-pane fade" id="cms" role="tabpanel" aria-labelledby="cms-tab">
                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/Wordpress.png" alt="Wordpress" class="img-fluid" />
                                    <p>Wordpress</p>
                                </div>
                                <div class="m-5 text-center">
                                    <img src="../../assets/Technoloies-Img/joomla.png" alt="joomla" class="img-fluid" />
                                    <p>joomla</p>
                                </div>   
                                                                                                      
                            </div>
                        </div>
                    </div>
                </div>
                
                




                
            </div>
        </div>
    </div>
</div>

<!-- Services-->
<div class="content-section bg-Color text-white text-center">
    <div class="container">
        <div class="heading_container heading_center">
          <h2 class="txt">Why Choose Us ?</h2>
          <p class="col-lg-8 px-0">
            Choose MRD-Brains for innovative solutions, expert craftsmanship, 
            and unwavering commitment to your success
          </p>
         
        </div>
        <div class="ChooseUs_container">
          <div class="row">
            <div class="col-md-3 p-1" *ngFor="let item of ChooseUs">
              <div class="card Choose">
                <div class="card-body">
                  <h2 class="card-title txt">
                    <img [src]="item.imageUrl" alt="{{ item.title }}" class="img-fluid choose-img mb-2" /> <br>
                    {{ item.title }}
                  </h2>
                  <p class="card-text">
                    {{ item.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<!-- Portfolio-->
<div class="content-section" >
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0 txt">Portfolio</h3>
            <h2 class="mb-5 txt">Recent Projects</h2>
        </div>
        <div class="row gx-0">
            <div *ngFor="let item of portfolioItems" class="col-lg-6 p-0">
              <a class="portfolio-item" [href]="item.link">
                <div class="caption">
                  <div class="caption-content">
                    <div><h2>{{ item.title }}</h2></div>
                    <p class="mb-0">{{ item.description }}</p>
                  </div>
                </div>
                <img class="img-fluid" [src]="item.imgUrl" [alt]="item.title" />
              </a>
            </div>
          </div>
          
    </div>
</div>

<!-- Page Up Button -->
<button
  *ngIf="isScrollUpVisible"
  class="scroll-up-btn"
  (click)="scrollToTop()"
  aria-label="Scroll to top">
  &#8679; <!-- This is an upward arrow -->
</button>
