<section class="msger">
    <div class="container">
        <div class="row">
            <header class="msger-header">
                <div class="msger-header-title">
                    <i class="fas fa-comment-alt"></i> Chat with Tamanna
                </div>
                <div class="msger-header-options d-none d-md-block"> <!-- Hide on mobile -->
                    <span><i class="fas fa-cog"></i></span>
                </div>
            </header>
            <div class="col-md-3 d-none d-md-block"> <!-- Hide on mobile -->
                <div class="action-list">
                    <h4>Action</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Action 1</li>
                        <li class="list-group-item">Action 2</li>
                        <li class="list-group-item">Action 3</li>
                        <!-- Add more actions as needed -->
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <main class="msger-chat" #messagesContainer>
                    <div *ngFor="let message of messages" class="msg"
                        [ngClass]="{'user': message.sender === 'user', 'bot': message.sender === 'bot'}">
                        <div class="msg-bubble">
                            <div class="msg-info">
                                <div class="msg-info-name">{{ message.sender }}</div>
                                <div class="msg-info-time">{{ message.time }}</div>
                            </div>
                            <div class="msg-text" [innerHTML]="message.text"></div>
                        </div>
                    </div>
                    <div *ngIf="isTyping" class="typing-indicator">
                        <img src="../../../assets/images/Chat-Animation.gif" alt="Tamanna is Typing..."
                            class="typing-gif">
                    </div>
                </main>

                <form class="msger-inputarea" (ngSubmit)="sendMessage()">
                    <input type="text" class="msger-input" placeholder="Enter your message..." [(ngModel)]="userInput"
                        name="message">
                    <button type="submit" class="msger-send-btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>